body {
    margin: 10px;
    background-image: url(../P3/pink_space.jpg);
}

.container {
    width: 800px;
    margin: 0 auto;
}

.barra {
    background-color: rgb(236, 103, 178);
    color: #ffffff;
    font-size: 20px;
    height: 20px;
    width: 700px;
}

#my_canvas {
    background: rgb(0, 0, 0);
    border: #000 2px solid;
}

.boton {
    color: pink;
    font-size: 40px;
    background-color: #d46893;
    cursor: pointer;
    border-radius: 8px;
    border: 2px solid rgb(173, 37, 121);
}

.boton:hover {
    background-color: white;
    color: #d46893;
}